CREATE TABLE IF NOT EXISTS public.form_claim_chi_phi_internal_signature_form ( id text PRIMARY KEY, manv text, ky_chi_phi_kt timestamp without time zone, js_value jsonb, inserted_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP );
